extends layout

include ../node_modules/pug-bootstrap/components/tabs
include ../node_modules/pug-bootstrap/components/forms
include ../node_modules/pug-bootstrap/components/list-groups
include ../node_modules/pug-bootstrap/components/icons

append content

  form(method='POST', action=`/lectures/save`, id='editForm')

  h4=title
  if message
    h4(style='color:red') #{message}
  if courses
    #form-group
      label(for='course') Course
      br
      select#courseSelector(name='course', form='editForm', required)
        each course in courses
          option(value=course._id)=course.id + ' - ' + course.title
  br
  if lecture.notes
    if lecture._id
      input(type='hidden', name='lectureId', id='lectureId', form='editForm')
    if lecture.filePath
      input(type='hidden', name='filePath', id='filePath', form='editForm')
    if lecture.course
      input(type='hidden', name='originalCourse', id='originalCourse', form='editForm')
    .editbox
      textarea.form-control(class='editFile', name='content', type='text', form='editForm', required)= lecture.notes
  br
  input.btn.btn-primary(style='margin-right: 10px;', type='submit', value='Save', form='editForm')
  |
  a(href=`/lectures/${lecture._id}/view`)
    input.btn.btn(type='submit', value='Cancel')

  script.
      var id='#{lecture._id}'
      var lectureId = document.getElementById('lectureId')
      lectureId.setAttribute('value', id)

      var courseId='#{lecture.course}'
      var originalCourse = document.getElementById('originalCourse')
      originalCourse.setAttribute('value', courseId)

      var path='#{lecture.filePath}'
      var filePath = document.getElementById('filePath')
      filePath.setAttribute('value', path)

  script.
    var id='#{lecture.course}'
    var selector = document.getElementById('courseSelector')
    var options = selector.options
    for (var i = 0; i < options.length; i++) {
      var option = options[i]
      if (option.value === id) {
        selector.selectedIndex = option.index
      }
    }